.card-body {
  display: flex;
  justify-content: center;
}

.siva{
  background-color: green;
  color:yellow;
  
}

.siva{
   display: flex;
  justify-content: center;
}
input[type="text"]{
  background-color: yellow;
  outline: none;
}